<tr th:if="${trade_orders.isEmpty()}" id="empty-tr">
  <td colspan="7">
    <div style="min-width: 800px;margin: -16px;padding: 16px;">
      <div style="padding-top: 32px;padding-bottom: 32px;display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <img src="../assets/img/empty-list.svg" alt="empty">
        <div style="text-align: center;color: #81858c;margin-top: 16px;font-size: 12px;" th:text="#{trading.no.records}"></div>
      </div>
    </div>
  </td>
</tr>
<tr th:each="order: ${trade_orders}">
  <td th:text="${order.formattedCreated}"></td>
  <td th:text="${order.coinSymbol} + 'USDT'"></td>
  <td>
    <span class="transaction-status" th:text="#{${order.type.name == 'BUY' ? 'trading.order.type.buy' : 'trading.order.type.sell'}}" th:classappend="${order.type.name == 'BUY' ? 'completed' : 'canceled'}"></span>
  </td>
  <td th:text="${order.tradeType.title}"></td>
  <td th:text="${order.type.name() == 'BUY' ? order.buyAmount : order.formattedAmount}"></td>
  <td th:text="${order.formattedPrice}"></td>
  <td>
    <span class="transaction-status completed" th:text="#{trading.order.successfully}"></span>
  </td>
</tr>