<th:block th:each="message: ${support_messages}">
    <div th:classappend="${message.toSupport() ? ('support_' + '_my-message') : ('support_' + '_support-message')}">
        <div class="support-profile">
            <span th:if="${message.toSupport()}" th:text="#{support.you}"></span>
            <span th:unless="${message.toSupport()}" th:text="#{support.supporter}"></span>
        </div>

        <div class="support-message">
            <a th:if="${message.isImage()}" th:href="'../' + ${message.message}" class="support-message-img" target="_blank">
                <img th:src="${message.message}">
            </a>
            <th:block th:unless="${message.isImage()}" th:text="${message.message}"></th:block>
        </div>
        <span class="support-date" th:text="${message.formattedDate}"></span>
    </div>
</th:block>